# Git files
.git
.gitignore

# Dependencies
node_modules

# Build artifacts
.next
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker files
Dockerfile
Dockerfile.simple
docker-compose.yml

# Env files
.env*.local
